body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

#menu button {
    margin-bottom: 10px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #343a40;
    color: white;
}